<?xml version="1.0" encoding="UTF-8"?>
<web-app>
   <servlet>
      <servlet-name>vote</servlet-name>
      <servlet-class>com.Jesi.CheckVoterServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>vote</servlet-name>
      <url-pattern>/checkvoter</url-pattern>
   </servlet-mapping>
</web-app>
